.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  max-width: 400px;
  flex: 1 1 30%;
}

.featureSvg {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .feature {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
