.features {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  max-height: 200px;
  max-width: 200px;
  width: 100%;
  height: auto;
}

.boldTitle {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

@media (min-width: 768px) {
  .features > div {
    flex: 1 1 30%;
  }
}

@media (max-width: 767px) {
  .features > div {
    flex: 1 1 100%;
  }
}
